body {
    background-color: black;
    color: white;
}

footer {
    margin-bottom: 10px;
}

main {
    margin-top: 150px;
}

.menu-open {
    margin-top: 350px!important;
}

.content-box {
    box-shadow: 0 0 50px 5px #0F7D60;
}

.top-box {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(../img/computers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-page-boxes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.join {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url(../img/join.jpg);
}

.join:hover {
    background-image: 
        linear-gradient(
            rgba(15, 125, 96, .8),
            rgba(15, 125, 96, .8)
        ),
        url(../img/join.jpg);
}

.team {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url(../img/team.jpg);
}

.team:hover {
    background-image: 
        linear-gradient(
            rgba(15, 125, 96, .8),
            rgba(15, 125, 96, .8)
        ),
        url(../img/team.jpg);
}

.mission {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url(../img/mission.jpg);
}

.mission:hover {
    background-image: 
        linear-gradient(
            rgba(15, 125, 96, .8),
            rgba(15, 125, 96, .8)
        ),
        url(../img/mission.jpg);
}

.space {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
        ),
        url(../img/space.jpg);
}

.space:hover {
    background-image: 
        linear-gradient(
            rgba(15, 125, 96, .8),
            rgba(15, 125, 96, .8)
        ),
        url(../img/space.jpg);
}